.skillsBody {
    height: 100vh;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid white;
}

.skills {
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
}

