.main {
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    color: #ffb400;
}

.main img {
    max-width: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 30px;
}

.textBlock {
    margin-left: 50px;
    font-size: 26px;
    font-weight: 600;
}

.textBlock > h3 {
    font-size: 30px;
    font-weight: 600;
}

.textBlock > p {
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
}

@media (max-width: 1784px) {
    .main {
        margin-bottom: 200px;
    }
    .textBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 555px) {
    .textBlock {
        font-size: 18px;
    }
}