.main {
    min-height: 100vh;
}

.main img {
    max-width: 350px;
    width: 100%;
    max-height: 450px;
    height: 100%;
}

.textBlock {
    margin-top: 10px;
    max-width: 400px;
    width: 100%;
    background-color: #003366;
}