.project__container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 500px;
    width: 100%;
}

.project > h4 {
    font-size: 18px;
    font-weight: 500;
}

.project__img {
    max-width: 400px;
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .7s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.nameProject {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project:hover .project__img {
    opacity: 0.3;
}

.project:hover .nameProject {
    opacity: 1;
}

.nameProject h3 {
    color: white;
    font-size: 26px;
    padding: 16px 32px;
    cursor: pointer;
}