body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  font-weight: 600;
}